@{
    ViewData["Title"] = "Home Page";
}
<!--
  Author:    Hunter Moffat
  Partner:   None
  Date:      9/2/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Hunter Moffat - This work may not be copied for use in Academic Coursework.

  I, Hunter Moffat, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This is the front page of my website
-->
<head>
    <meta name="author" content="Hunter Moffat" />
    <meta name="description" content="This is the front page of my website" />
    <meta name="charset" content="utf-8" />
    <meta name="keywords" content="frontpage" />
</head>
<!-- Jumbotron -->
<div class="jumbotron text-center">

    <!-- Title -->
    <h4 class="card-title h4 pb-2"><strong>Welcome to the University of Utah!</strong></h4>

    <!-- Card image -->
    <div class="view overlay my-4">
        <img src="https://s.abcnews.com/images/US/univeristy-utah-01-as-ap-200222_hpMain_16x9_1600.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>

    </div>
    <p class="card-text">There are plenty of awesome research opportunities available at the University of Utah.</p>
    <p><a class="btn btn-primary btn-lg" href="/Opportunity/Opportunities" role="button">Learn More »</a></p>



</div>



