<!--
  Author:    Hunter Moffat
  Partner:   None
  Date:      9/2/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Hunter Moffat - This work may not be copied for use in Academic Coursework.

  I, Hunter Moffat, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This is the opportunities page containing 3 amazing opportunities and links to the details page
-->
<head>
    <meta name="author" content="Hunter Moffat" />
    <meta name="description" content=" This is the opportunities page containing 3 amazing opportunities and links to the details page" />
    <meta name="charset" content="utf-8" />
    <meta name="keywords" content="opportunities" />
</head>
<h1 class="text-center"> Welcome to Research at the University of Utah</h1>
<div class="opportunity">
    <table cellpadding="5">
        <tbody>
            <tr>
                <td>
                    <img src="~/images/BonziSunglasses.gif"
                         alt="Picture of a cool monkey that solves all your computer problems" />
                </td>
                <td>
                    Research why this monkey protects 100% of your data on the web!
                </td>
                <td class="text-center">
                    <a href="/Home/Details">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div class="opportunity">
    <table cellpadding="5">
        <tbody>
            <tr>
                <td>

                    <img src="~/images/clippy.gif"
                         alt="A nice paperclip friend" />

                </td>
                <td>
                    Help us find out why this paperclip is so hateable!
                </td>
                <td class="text-center">
                    <a href="/Home/Details">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div class="opportunity">
    <table cellpadding="5">
        <tbody>
            <tr>
                <td>
                    <img src="~/images/dance.gif"
                         alt="Dance your heart out!" />
                </td>
                <td>
                    We have no idea who this man is or why he is dancing...
                </td>
                <td class="text-center">
                    <a href="/Home/Details">Details</a>
                </td>


            </tr>
        </tbody>
    </table>
</div>
