@{
    ViewData["Title"] = "Student Page";
}
<!--
  Author:    Hunter Moffat
  Partner:   None
  Date:      9/11/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Hunter Moffat - This work may not be copied for use in Academic Coursework.

  I, Hunter Moffat, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     logout page of my website
-->
<head>
    <meta name="author" content="Hunter Moffat" />
    <meta name="description" content="This is the front page of my website" />
    <meta name="charset" content="utf-8" />
    <meta name="keywords" content="logout" />
</head>
<div class="text-center">
    <h1 class="display-4">Logout</h1>
    <p>Eventually this will make you logout</a>.</p>
</div>

